<h1 id="collections_header">Collections</h1>

<div id="collections_filter">
<%= form_for :collections_filter, :url => filter_asset_collections_path do |f| %>
<label>Location:</label>
<%= select_tag :chapman_code, options_for_select([
  [],
  ["Bedfordshire (BDF)", "BDF"],
  ["Berkshire (BRK)", "BRK"],
  ["Buckinghamshire (BKM)", "BKM"],
  ["Cambridgeshire (CAM)", "CAM"],
  ["Cheshire (CHS)", "CHS"],
  ["Cornwall (CON)", "CON"],
  ["Cumberland (CUL)", "CUL"],
  ["Derbyshire (DBY)", "DBY"],
  ["Devonshire (DEV)", "DEV"],
  ["Dorset (DOR)", "DOR"],
  ["Durham (DUR)", "DUR"],
  ["Essex (ESS)", "ESS"],
  ["Gloucestershire (GLS)", "GLS"],
  ["Hampshire (HAM)", "HAM"],
  ["Herefordshire (HEF)", "HEF"],
  ["Hertfordshire (HRT)", "HRT"],
  ["Huntingdonshire (HUN)", "HUN"],
  ["Isle of Wight (IOW)", "IOW"],
  ["Kent (KEN)", "KEN"],
  ["Lancashire (LAN)", "LAN"],
  ["Leicestershire (LEI)", "LEI"],
  ["Lincolnshire (LIN)", "LIN"],
  ["London (LND)", "LND"],
  ["Middlesex (MDX)", "MDX"],
  ["Norfolk (NFK)", "NFK"],
  ["Northamptonshire (NTH)", "NTH"],
  ["Northumberland (NBL)", "NBL"],
  ["Nottinghamshire (NTT)", "NTT"],
  ["Oxfordshire (OXF)", "OXF"],
  ["Rutland (RUT)", "RUT"],
  ["Shropshire (SAL)", "SAL"],
  ["Somerset (SOM)", "SOM"],
  ["Staffordshire (STS)", "STS"],
  ["Suffolk (SFK)", "SFK"],
  ["Surrey (SRY)", "SRY"],
  ["Sussex (SSX)", "SSX"],
  ["Warwickshire (WAR)", "WAR"],
  ["Westmorland (WES)", "WES"],
  ["Wiltshire (WIL)", "WIL"],
  ["Worcestershire (WOR)", "WOR"],
  ["Yorkshire (YKS)", "YKS"],
  ["Yorkshire East Riding (ERY)", "ERY"],
  ["Yorkshire North Riding (NRY)", "NRY"],
  ["Yorkshire West Riding (WRY)", "WRY"],
  ["Aberdeenshire (ABD)", "ABD"],
  ["Angus (ANS)", "ANS"],
  ["Argyllshire (ARL)", "ARL"],
  ["Ayrshire (AYR)", "AYR"],
  ["Banffshire (BAN)", "BAN"],
  ["Berwickshire (BEW)", "BEW"],
  ["Bute (BUT)", "BUT"],
  ["Caithness (CAI)", "CAI"],
  ["Clackmannanshire (CLK)", "CLK"],
  ["Dumfriesshire (DFS)", "DFS"],
  ["Dunbartonshire (DNB)", "DNB"],
  ["East Lothian (ELN)", "ELN"],
  ["Fife (FIF)", "FIF"],
  ["Inverness-shire (INV)", "INV"],
  ["Kincardineshire (KCD)", "KCD"],
  ["Kinross-shire (KRS)", "KRS"],
  ["Kirkcudbrightshire (KKD)", "KKD"],
  ["Lanarkshire (LKS)", "LKS"],
  ["Midlothian (MLN)", "MLN"],
  ["Moray (MOR)", "MOR"],
  ["Nairnshire (NAI)", "NAI"],
  ["Orkney (OKI)", "OKI"],
  ["Peeblesshire (PEE)", "PEE"],
  ["Perthshire (PER)", "PER"],
  ["Renfrewshire (RFW)", "RFW"],
  ["Ross and Cromarty (ROC)", "ROC"],
  ["Roxburghshire (ROX)", "ROX"],
  ["Selkirkshire (SEL)", "SEL"],
  ["Shetland (SHI)", "SHI"],
  ["Stirlingshire (STI)", "STI"],
  ["Sutherland (SUT)", "SUT"],
  ["West Lothian (WLN)", "WLN"],
  ["Wigtownshire (WIG)", "WIG"],
  ["Borders (BOR)", "BOR"],
  ["Central (CEN)", "CEN"],
  ["Dumfries and Galloway (DGY)", "DGY"],
  ["Grampian (GMP)", "GMP"],
  ["Highland (HLD)", "HLD"],
  ["Lothian (LTN)", "LTN"],
  ["Orkney Isles (OKI)", "OKI"],
  ["Shetland Isles (SHI)", "SHI"],
  ["Strathclyde (STD)", "STD"],
  ["Tayside (TAY)", "TAY"],
  ["Western Isles (WIS)", "WIS"],
  ["Anglesey (AGY)", "AGY"],
  ["Brecknockshire (BRE)", "BRE"],
  ["Caernarfonshire (CAE)", "CAE"],
  ["Cardiganshire (CGN)", "CGN"],
  ["Carmarthenshire (CMN)", "CMN"],
  ["Denbighshire (DEN)", "DEN"],
  ["Flintshire (FLN)", "FLN"],
  ["Glamorgan (GLA)", "GLA"],
  ["Merionethshire (MER)", "MER"],
  ["Monmouthshire (MON)", "MON"],
  ["Montgomeryshire (MGY)", "MGY"],
  ["Pembrokeshire (PEM)", "PEM"],
  ["Radnorshire (RAD)", "RAD"],
  ["Clwyd (CWD)", "CWD"],
  ["Dyfed (DFD)", "DFD"],
  ["Gwent (GNT)", "GNT"],
  ["Gwynedd (GWN)", "GWN"],
  ["Mid Glamorgan (MGM)", "MGM"],
  ["Powys (POW)", "POW"],
  ["South Glamorgan (SGM)", "SGM"],
  ["West Glamorgan (WGM)", "WGM"]
]) %>

<label>Difficulty:</label>
<%= select_tag :difficulty, options_for_select([
  [],
  ["Beginner", "0"],
  ["Intermediate", "1"],
  ["Advanced", "2"]
]) %>
<label>Date:</label> <%= date_select :date, :order => [:year, :month, :day] %>
<%= submit_tag 'Search' %>
<% end %>
</div>

<ul id="collections_list">
<%@collections.each do |collection|%>
	<%if collection.front_page %>
		<li> <%= link_to image_tag(collection.front_page.location, :width=>200,:height=>275,:class=>"asset_image"), collection %>
			<p> Title  : <%=collection.title%></p>
			<p> Author : <%=collection.author%></p>
			<p> No pages : <%=collection.assets.count%></p>
		</li>
	<%end%>
<%end%>
</ul>


