<h1 id="collections_header">Collections</h1>

<%= form_for :test, :url => test_asset_collections_path do |f| %>
Location: <%= text_field_tag :chapman_code %>
Year: <%= text_field_tag :year %>
Difficulty: <%= text_field_tag :difficulty %>
<%= submit_tag %>
<% end %>

<ul id="collections_list">
<%@collections.each do |collection|%>
	<%if collection.front_page %>
		<li> <%= link_to image_tag(collection.front_page.location, :width=>200,:height=>275,:class=>"asset_image"), collection %>
			<p> Title  : <%=collection.title%></p>
			<p> Author : <%=collection.author%></p>
			<p> No pages : <%=collection.assets.count%></p>
		</li>
	<%end%>
<%end%>
</ul>


