<% content_for :head do %>
<script>

$(document).ready(function(){
	$.getJSON('/template_for_asset/0', function(template){
		console.log(template);
		$("#page").annotate({template : template,
							 doneButton:$("#scribe_done_button"),
							 imageURL : '<%=@asset.location%>',
							 submitURL : "/transcriptions/",
							 zoomBoxWidth: 600,
							 zoomBoxHeight: 200,
							 assetWidth: <%=@asset.width%>,
							 assetHeight: <%=@asset.height%>,
							 assetScreenWidth: <%=@asset.display_width%>,
							 assetScreenHeight:<%=@asset.display_height%>,
							zoomLevel:2,
							page_data: {"asset_id" : '<%=@asset.id%>', "zooniverse_id": '<%=@user.id%>' },
							onAnnotationAdded: function(annotation){ 
							$("#scribe_instructions").hide();
							$("#results").append($("<li>"+stringForAnnotation(annotation)+"</li>"));
							},
							onSubmitedPassed: function(){window.location.reload() },
							onSumitedFailed : function(){alert("BAD TRANSCRIBER")}
						}
							 );
	});
	
	$("#results").bind("annotateannotationAdded", function(event,data){
		alert("here");
	});
	
	$("#controls").draggable();
	
});

function stringForAnnotation(annotation){
	var s= annotation.kind+" <br/> ";
	for(var key in annotation.data){

		s=s+ (key +": "+annotation.data[key]+"<br/>");
	}
	return s
}
</script>

<% end %>

<div id="banner">
  <a href="/"><h1>Scribe<span class="version">Gilgamesh</span></h1></a>
</div>
<!-- page div is main transcription item -->
<div id="page"></div>
<div id="footer"></div>

<div id="controls">
	<h3>Transcriptions:</h3>
	<p id="scribe_instructions">Click and drag over the document to add annotations.</p>
	<ul id="results">
	</ul>
  <a id ="scribe_done_button" href="#">Done &rarr;</a>
</div>
