<% content_for :head do %>
<script>

$(document).ready(function(){
	$.getJSON('/assets/<%=@asset.id%>/template', function(template){
		$("#page").annotate({template : template,
							 doneButton:$("#scribe_done_button"),
							 imageURL : '<%=@asset.location%>',
							 submitURL : "/transcriptions/",
							 zoomBoxWidth: 600,
							 zoomBoxHeight: 200,
							 assetWidth: <%=@asset.width%>,
							 assetHeight: <%=@asset.height%>,
							 assetScreenWidth: <%=@asset.display_width%>,
							 assetScreenHeight:<%=@asset.display_height%>,
							zoomLevel:2,
							page_data: {"asset_id" : '<%=@asset.id%>', "zooniverse_id": '<%=@user.id%>' },
							onAnnotationAdded: function(annotation){ 
							$("#scribe_instructions").hide();
							$("#annotation_item_"+(annotation.annotation_id-1)).hide();
							$("#results").append($("<li class='annotation_result'><div class='annotation_item' id='annotation_item_"+annotation.annotation_id+"'>"+stringForAnnotation(annotation.data)+"</div><div class='annotation_button' id='annotation_button_"+annotation.annotation_id+"'></div></li>"));
							$("#annotation_button_"+annotation.annotation_id).click( function (){
							  $("#annotation_item_"+annotation.annotation_id).slideToggle();
							});
							},
							onSubmitedPassed: function(){window.location.reload() },
							onSumitedFailed : function(){alert("BAD TRANSCRIBER")},
							onAnnotationRemoved: function(annotation_id){},
							onAnnotationEdited: function(annotation){}
							
						}
							 );
	});
	

	
	$("#controls").draggable({ containment: 'body' });
	
});

function stringForAnnotation(annotation){
	var s= annotation.kind+" <br/> ";
	for(var key in annotation.data){

		s=s+ (key +": "+annotation.data[key]+"<br/>");
	}
	return s
}
</script>

<% end %>

<div id="banner">
  <a href="/"><h1>Scribe<span class="version">Gilgamesh</span></h1></a>
</div>
<!-- page div is main transcription item -->
<div id="page"></div>
<div id="footer"></div>

<div id="controls">
	<h3>Transcriptions:</h3>
	<p id="scribe_instructions">Click and drag over the document to add annotations.</p>
	<ul id="results">
	</ul>
  <a id ="scribe_done_button" href="#">Done &rarr;</a>
</div>
