<% content_for :head do %>
<script>

$(document).ready(function(){
	$.getJSON('/assets/<%=@asset.id%>/template', function(template){
		$("#page").annotate({template : template,
							 doneButton:$("#scribe_done_button"),
							 imageURL : '<%=@asset.location%>',
							 submitURL : "/transcriptions/",
							 zoomBoxWidth: 600,
							 zoomBoxHeight: 200,
							 annotationBoxWidth: 760,
							 userID: "<%=@user.id%>",
							 assetWidth: <%=@asset.width%>,
							 assetHeight: <%=@asset.height%>,
							 assetScreenWidth: <%=@asset.display_width%>,
							 assetScreenHeight:<%=@asset.display_height%>,
							zoomLevel:2,
							page_data: {"asset_id" : '<%=@asset.id%>'},
							onAnnotationAdded:annotationAdded,
							onSubmitedPassed: function(){window.location.reload() },
							onSumitedFailed : function(){alert("BAD TRANSCRIBER")},
							onAnnotationRemoved: removeAnnotation,
							onAnnotationUpdated: updateAnnotation,
							onAnnotationEditedStarted: hilightAnnotation,
							authenticity_token: "<%=session["_csrf_token"]%>"
							
						}
							 );
	});
	


	
	$("#controls").draggable({ containment: 'body' });
	
});

function updateAnnotation(annotation){
	var item = $("#annotation_item_"+(annotation.annotation_id));
	$(item).html(stringForAnnotation(annotation.data));
	$(item).parent().removeClass("editing_annotation");
	
}

function hilightAnnotation(annotation){
	var item = $("#annotation_item_"+(annotation.annotation_id));
	$(item).parent().addClass("editing_annotation");
}
function removeAnnotation(annotation_id){
	$("#annotation_item_"+(annotation_id)).parent().slideUp(2000, function(){
		$("#annotation_item_"+(annotation_id)).parent().remove();
	});
}

function annotationAdded(annotation){
	//console.log("adding annotaion on to page");
	//console.log(annotation);
	$("#scribe_instructions").hide();
	$("#annotation_item_"+(annotation.annotation_id-1)).hide();
	$("#results").append($("<li class='annotation_result'>"+annotation.data.kind+"<br /><div class='annotation_item' id='annotation_item_"+annotation.annotation_id+"'>"+stringForAnnotation(annotation.data)+"</div><div class='annotation_button' id='annotation_button_"+annotation.annotation_id+"'></div></li>"));
	$("#annotation_button_"+annotation.annotation_id).click( function (){
	  $("#annotation_item_"+annotation.annotation_id).slideToggle();
	});
}

function stringForAnnotation(annotation){
	s="";
	for(var key in annotation.data){
			s=s+ (key +": "+annotation.data[key]+"<br/>");
	}
	return s;
}
</script>

<% end %>


<!-- page div is main transcription item -->
<div id="page"></div>
<%if @collection%>
	<div id="collection_front_page">
		<%=image_tag @collection.front_page.location, :width=>"200"%>
		<p>Currently transcribing</p> 
		<p><%=@collection.title%></p>
		<p>Page <%=@collection.order%></p>
	</div>
<%end%>
<div id="footer"></div>

<div id="controls">
	<h3>Transcriptions:</h3>
	<p id="scribe_instructions">Click and drag over the document to add annotations.</p>
	<ul id="results">
	</ul>
  <a id ="scribe_done_button" href="#">Done &rarr;</a>
</div>
