<% content_for :head do %>
<script>


$(document).ready(function(){
	$.getJSON('/template_for_asset/0', function(template){
		console.log(template);
		$("#page").annotate({template : template,
							 initalEntity: "Location",
							 doneButton:$("#doneButton"),
							 imageURL : '<%=@asset.location%>',
							 submitURL : "/transcriptions/",
							 zoomBoxWidth: 600,
							 zoomBoxHeight: 200,
							 assetWidth: <%=@asset.width%>,
							 assetHeight: <%=@asset.height%>,
							 assetScreenWidth: <%=@asset.display_width%>,
							 assetScreenHeight:<%=@asset.display_height%>,
							zoomLevel:2,
							page_data: {"asset_id" : '<%=@asset.id%>', "zooniverse_id": '<%=@user.id%>' }
						}
							 );
	});
	
});
</script>

<% end %>

<div id="page"></div>
<!-- <div id="header">
  <h1><%# SiteConfig.application_name %></h1>
</div> -->

<%= render :partial => "shared/flash", :locals => { :flash => flash } %>
<a id ="doneButton" href="#" style="font-size:20pt;position:absolute;top:30px;right:10px">done</a>

